body {
    text-align: center;
    background-color: lightcyan;
}

h1{
text-align: center;
font-size: 30px;
}

img {
border-radius: 100px;
height: 150px;
width 150px;
}

.line {
height: 6px;
background-color: #000;
width: 70px;
margin: 8px auto;
}

html {
scroll-behavior: smooth;
}

img {
transition: transform .2s;
border: 5px solid;
}

img:hover{
transform: scale(0.9);
}
